body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    font-size: 15px;
}

body, html {
    height: 100%;
    width: 100%
}

.navbar-custom.top-nav-collapse {
    background: #8D4D10;
    opacity: 0.7;
    filter: alpha(opacity=90);
}

.btn, .navbar-custom, h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 0px;
    font-weight: 600;
    letter-spacing: 0px;
}

h2 {
    text-align: center;
}

.contact-p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: normal;
}

.intro {
    text-align: start;
}

.intro .intro-body .brand-heading {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
}

.VorderKamera-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    display: block;
    position: relative;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 10px;
}

.item {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.item2 {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item2:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.thumb {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.dateandnews-section {
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: #fff;
    display: block;
    position: relative;
}

.contactus-section {
    width: 100%;
    padding: 100px 0;
    color: #fff;
    display: block;
    position: relative;
}

.between-section {
    background: url(../img/intro-bg.jpg) center center no-repeat #000;
    background-repeat: repeat-x;
    height: 50%;
    width: 100%;
    background-attachment: fixed;
    opacity: 0.8;
    background-color: #333;
}

.bw {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.bw:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contactus-section::after {
    content: "";
    background: url(../img/intro-bg.jpg) center center no-repeat #000;
    ;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.fa-heart {
    color: #E62E2E;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 15px;
        font-size: 13px;
        line-height: 1.4em;
        letter-spacing: 0.6px;
    }
}

a {
    color: #42DCA3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 800;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Raleway', sans-serif;
    background-color: #8D4D10;
    font-weight: 600;
    opacity: 0.7;
    -webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    -webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
    outline: none;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: white;
    font-size: 14px;
}

.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
    color: white;
}

@media (min-width: 770px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 0px;
        font-weight: 600;
        background: #8D4D10;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        opacity: 0.7;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-backface-visibility: hidden;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: #8D4D10;
        opacity: 0.7;
        filter: alpha(opacity=90);
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media (min-width: 767px) {
    .content-section {
        padding-top: 100px;
    }
    .download-section {
        padding: 100px 0;
    }
    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid #42DCA3;
    color: #42DCA3;
    background-color: transparent;
}

.btn-default:hover, .btn-default:focus {
    border: 1px solid #42DCA3;
    outline: none;
    color: black;
    background-color: #42DCA3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding-top: 100px;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px #8D4D10;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #8D4D10 url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 30px;
        bottom: 30px;
    }
    .content-section {
        padding-top: 100px;
        height: auto;
    }
}

.cd-top:hover {
    background-color: #42DCA3;
}

hr {
    margin-top: 0px;
    margin-bottom: 35px;
    width: 100%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #42DCA3, rgba(0, 0, 0, 0));
}


}
.text-content {
    line-height: inherit;
    text-align: center;
    margin: 10px 50px 15px;
}
.fa-circle {
    color: red;
}
.popup {
    color: black;
}
.modal-content {
    background-color: lightgoldenrodyellow;
    opacity: 0.9;
}
